/* 
    Document   : style
    Created on : Aug 24, 2013, 7:18:41 PM
    Author     : Inigo -_-
    Description:
        Purpose of the stylesheet follows.
*/



root { 
    display: block;
}

body{
    font-size: 100%;
    font-family: Georgia, serif;
    font-size: 1.3125em;
    color: #333;
    background-color: #f2f9f6;
     margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    
}

#main{
    background-image:-webkit-linear-gradient(top, #deefe9, #f2f9f6);
   
}

input,textarea{
    font-size: 80%;
    font-family: Georgia, serif;
}

a, a:visited{
    text-decoration: none;
    color: #333;
}

hr{
    width: 500px;
    overflow: auto;
    position: absolute;
    margin:  0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 1px;
    border: 0; 
    border-top: 1px solid #5aaf7d;
}

h3{
    margin: 0px 0px 0px 0px;
}

/*
    *********************************
    Header
    *********************************
*/

#header{
    box-shadow: inset 0 -1px 0 #a9d5bb;
    height: 55px;
    width: 100%;
    position: relative;
    margin:0px 0px 60px 0px;
    padding:0px 0px 0px 0px;
    
}

#header .wrapper{
    margin: 0 auto;
    width:980px;
    
}

#header .wrapper div{
   float:left;
   position: relative;
   margin-top: 10px;
    
}

#header .wrapper #nav{
    position: relative;
    bottom: 15px;
    float: right;
}

#header ul{
   
}
#header li{
    display:inline;
    letter-spacing:0.09em;
    
}

.nav{
    padding:13px 13px 13px 13px;
    opacity: .6;
    
}
.nav:hover{
    display:inline;
    padding:16px 13px 13px 13px;
    opacity: 1;
    color:#FFFFFF;
    background-color: #c4e2d0;
    
}




#logo{
    position: relative;
    top:5px;
    width:100px;
    margin-left: -100px;
}

.searchBox{
    width:500px;
    height:auto;
    padding: 5px 5px;
   
}

/*
    *********************************
    Body
    *********************************
*/

#body{
    height: 100%;
    width: 100%;
    position: relative;
    top: 0px;
    right: 0px;
    
}

#body .wrapper{
    margin: 0 auto;
    width:980px;
    
  
}

#body .hr_div{
  padding:5px 0 5px 0;
}

#div_ask_form{
    width: 500px;
    background-color: #FFFFFF;
    padding: 10px 10px 10px 10px;
    box-shadow: 1px 3px 8px rgba(0,0,0,0.2);
}

.ask_row{
   position: relative;
   margin: 10px 0 10px 0;
}

.ask_row label{
    width: 100px;
    display: block;
    padding-top: 5px;
    float:left;
}

#ask_form #details{
    height:100%;
}

#ask_form input[type="text"].input_topic{
    width: 150px;
}

#ask_form input[type="text"]{
    width: 500px;
    padding: 5px 0 5px 0; 
}

#ask_form textarea{
    width: 500px;
    padding:5px 0px 1px 0px;
    height: 100px;
}

/*
    *********************************
    Footer
    *********************************
*/
#footer{
    float:left;
    font-size: 50%;
    position: absolute;
    bottom: 0px;
    width: 99%;
}

#footer .wrapper{
    margin: 0 auto;
    width:980px;
}

#footer p{
    letter-spacing:0.15em
}

/*
    Placeholder
*/
::-webkit-input-placeholder {
    font-size: 90%;
    font-family: Georgia, serif;
    padding: 0 0 0 2px;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 90%;
    font-family: Georgia, serif;
    padding: 0 0 0 2px;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-size: 90%;
    font-family: Georgia, serif;
    padding: 0 0 0 2px;
}

:-ms-input-placeholder {  
    font-size: 90%;
    font-family: Georgia, serif;
    padding: 0 0 0 2px;
}
