/* 
    Document   : style
    Created on : Aug 24, 2013, 7:18:41 PM
    Author     : Inigo -_-
    Description:
        Purpose of the stylesheet follows.
*/



root { 
    display: block;
}

body{
    font-size: 100%;
    font-family: Georgia, serif;
    font-size: 1.3125em;
    color: #333;
}

#main{
   
}

input{
    font-size: 80%;
    font-family: Georgia, serif;
}

a, a:visited{
    text-decoration: none;
    color: #333;
}

hr{
    width: 500px;
    overflow: auto;
    position: absolute;
}

.mediumInput {
    font-size: 18px;
}

/*
    *********************************
    Login
    *********************************
*/

#header .wrapper #loginForm {
    
    float:right;
    position: relative;
    margin-top: 10px;
}

#loginBody {
    margin: 0 100px 100px 100px;
    padding: 0;
}

#loginBody input {
    font-size: 18px;
}

/*
    *********************************
    Header
    *********************************
*/

#header{
    box-shadow: inset 0 -1px 0 #cacaca;
    height: 55px;
    width: 100%;
    position: relative;
    top: 0px;
    right: 0px;
    margin-bottom: 60px;
}

#header .wrapper{
    margin: 0 auto;
    width:980px;
    
}

#header .wrapper div{
   float:left;
   position: relative;
   margin-top: 10px;
    
}

#header .wrapper #nav{
    position: relative;
    bottom: 15px;
    float: right;
}

#header ul{
   
}
#header li{
    display:inline;
    padding: 0 10px 0 0;
}





#logo{
    position: relative;
    top:5px;
    width:100px;
    margin-left: -100px;
}

.searchBox{
    width:500px;
    height:auto;
    padding: 5px 5px;
}

/*
    *********************************
    Body
    *********************************
*/

#body{
    height: 55px;
    width: 100%;
    position: relative;
    top: 0px;
    right: 0px;
}

#body .wrapper{
    margin: 0 auto;
    width:980px;
    overflow: auto;
  
}


/*
    *********************************
    Footer
    *********************************
*/
#footer{
    float:left;
    font-size: 50%;
    position: absolute;
    bottom: 0px;
    width: 99%;
}

#footer .wrapper{
    margin: 0 auto;
    width:980px;
}

#footer p{
    letter-spacing:0.15em
}

/*
    Placeholder
*/
::-webkit-input-placeholder {
    font-size: 90%;
    font-family: Georgia, serif;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 90%;
    font-family: Georgia, serif;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-size: 90%;
    font-family: Georgia, serif;
}

:-ms-input-placeholder {  
    font-size: 90%;
    font-family: Georgia, serif;
}